# Майнор "Прикладные задачи анализа данных"
## Домашнее задание 2 [10 баллов] до 23:59 22.03.2018. Предсказание цены акции по экономическим новостям


В этом домашнем задании вы попытаетесь предсказать рост цены акции компании Газпром по новостям о компании. Домашнее задание состоит из трех частей:
1. Предварительная обработка текстов и эксплоративный анализ
2. Baseline алгоритм
3. Творческая часть

Все три части можно считать независимыми – вы можете сделать одну или две из них, однако мы настоятельно советуем выполнить все три. Все инструкции по выполнению домашнего задания – ниже. 



Входные данные:
* Новости о компании "Газпром", начиная с 2010 года
* Стоимость акций компании "Газпром" на ММВБ, начиная с 2010 года
    * цена открытия (Open)
    * цена закрытия (ClosingPrice)
    * максимальная цена за день (DailyHigh)
    * минимальная цена за день (DailyLow) 
    * объем бумаг (VolumePcs)

In [72]:
import pandas as pd
df = pd.read_csv('texts.csv')
df.head()

         date                                               text
0  09.11.2017  Компания рассчитывает на решение по газовому с...
1  08.11.2017   Как и предполагал “Ъ”, «Газпром», воспользова...
2  01.11.2017   Новая редакция американских санкций ставит по...
3  30.10.2017   Как стало известно “Ъ”, известный на рынке ри...
4  23.10.2017   НОВАТЭК, который через пять лет собирается за...

In [73]:
import numpy as np
pr_all = pd.read_csv('gazprom_prices.csv', sep=';')
pr_all["text"] = np.zeros(len(pr_all))
pr_all.head(5)

         Date       Open ClosingPrice  DailyHigh   DailyLow  VolumePcs  text
0  08.12.2017  133,43000    132,60000  133,90000  132,00000   16037970   0.0
1  07.12.2017  133,70000    133,02000  133,87000  132,81000   18198430   0.0
2  06.12.2017  133,33000    134,00000  134,29000  132,91000   14641730   0.0
3  05.12.2017  133,48000    133,65000  133,99000  132,78000   12684800   0.0
4  04.12.2017  133,01000    133,77000  134,00000  131,93000   17818980   0.0

## Часть 1. Вводная

Проведите предобработку текстов: если считаете нужным, выполните токенизацию, приведение к нижнему регистру, лемматизацию и/или стемминг. Ответьте на следующие вопросы:
* Есть ли корреляция между средней длинной текста за день и ценой закрытия?
* Есть ли корреляция между количеством упоминаний Алексея Миллера  и ценой закрытия? Учтите разные варианты написания имени.
* Упоминаний какого газопровода в статьях больше: 
    * "северный поток"
    * "турецкий поток"?
* Кого упоминают чаще:
    * Алексея Миллера
    * Владимира Путина?
* Ско
* О каких санкциях пишут в статьях?

In [74]:
import re
from nltk.corpus import stopwords

In [76]:
#Теперь у нас есть датафрейм со всеми данными
for j in range(len(pr_all)):
    for i in range(len(df)): 
        if df.iloc[i].date == pr_all.iloc[j-1].Date:
            pr_all.iloc[j,6] = df.iloc[i].text

In [ ]:
def to_lower_no_sw(text):
    text = text.lower()
    regexx = re.compile('\w+')
    words = regexx.findall(text)
    sw = stopwords.words('russian')
    words_not_sw = [word for word in words if word not in sw]
    text = words_not_sw
    return text

In [54]:
def to_token(df,i):

SyntaxError: unexpected EOF while parsing (<ipython-input-54-94bf339fe7bb>, line 2)

In [70]:
#df - dataframe, остальные - бинарные, провести или нет соответствующее преобразование
def preprocessing(df, lower, token, lemma, stem):
    for i in range(len(df)):
        if df.iloc[i,6] != 0: #если есть текст
            if lower:
                df.at[i,'text'] = to_lower_no_sw(df.iloc[i,6])
           # if token:
                
    return df

In [71]:
preprocessing(pr_all,True,False,False,False)

,Date,Open,ClosingPrice,DailyHigh,DailyLow,VolumePcs,text,words,6
0,08.12.2017,"133,43000","132,60000","133,90000","132,00000",16037970,"[спорные, вопросы, оплате, оказанные, период, ...",0.0,NaN
1,07.12.2017,"133,70000","133,02000","133,87000","132,81000",18198430,0,0.0,NaN
2,06.12.2017,"133,33000","134,00000","134,29000","132,91000",14641730,0,0.0,NaN
3,05.12.2017,"133,48000","133,65000","133,99000","132,78000",12684800,0,0.0,NaN
4,04.12.2017,"133,01000","133,77000","134,00000","131,93000",17818980,0,0.0,NaN
5,01.12.2017,"132,49000","133,02000","133,32000","131,72000",24755830,0,0.0,NaN
6,30.11.2017,"133,00000","132,15000","134,31000","132,00000",40024830,0,0.0,NaN
7,29.11.2017,"134,85000","133,55000","134,86000","132,97000",27263040,0,0.0,NaN
8,28.11.2017,"133,23000","135,18000","135,18000","132,55000",26663710,0,0.0,NaN
9,27.11.2017,"133,69000","133,50000","135,19000","132,80000",27713150,0,0.0,NaN
10,24.11.2017,"131,56000","133,57000","134,19000","131,31000",29043690,0,0.0,NaN
11,23.11.2017,"132,69000","131,60000","133,10000","131,30000",29106430,0,0.0,NaN
12,22.11.2017,"133,00000","132,57000","133,65000","132,20000",25211140,0,0.0,NaN
13,21.11.2017,"130,45000","132,49000","133,05000","130,35000",35532230,0,0.0,NaN
14,20.11.2017,"129,97000","129,96000","130,49000","128,63000",15667470,0,0.0,NaN
15,17.11.2017,"129,65000","129,65000","130,87000","129,06000",18126930,0,0.0,NaN
16,16.11.2017,"131,65000","129,20000","132,70000","127,74000",42122000,0,0.0,NaN
17,15.11.2017,"132,01000","131,21000","132,79000","131,21000",23349160,0,0.0,NaN
18,14.11.2017,"133,02000","132,93000","134,28000","132,35000",42200310,0,0.0,NaN
19,13.11.2017,"132,64000","133,32000","134,18000","131,71000",29457680,0,0.0,NaN
20,10.11.2017,"131,03000","132,50000","133,84000","130,51000",47147150,0,0.0,NaN
21,09.11.2017,"132,31000","131,50000","132,82000","131,14000",33869650,0,0.0,NaN
22,08.11.2017,"132,00000","132,30000","133,94000","131,58000",39381960,"[компания, рассчитывает, решение, газовому, сп...",0.0,NaN
23,07.11.2017,"127,06000","132,28000","132,55000","127,05000",82333460,"[предполагал, ъ, газпром, воспользовавшись, жа...",0.0,NaN
24,03.11.2017,"125,70000","125,90000","126,84000","125,70000",22633490,0,0.0,NaN
25,02.11.2017,"125,88000","125,67000","126,00000","124,87000",15593170,0,0.0,NaN
26,01.11.2017,"126,40000","126,50000","126,89000","125,97000",18232550,0,0.0,NaN
27,31.10.2017,"126,14000","125,90000","126,60000","125,57000",11857510,"[новая, редакция, американских, санкций, стави...",0.0,NaN
28,30.10.2017,"125,96000","125,98000","126,93000","125,53000",19263340,0,0.0,NaN
29,27.10.2017,"124,55000","125,94000","125,94000","123,64000",28588870,"[стало, известно, ъ, известный, рынке, риск, м...",0.0,NaN
...,...,...,...,...,...,...,...,...,...
1958,19.02.2010,"164,80000","171,83000","171,97000","163,55000",65359242,0,0.0,NaN
1959,18.02.2010,"170,59000","168,40000","170,74000","166,36000",74979727,0,0.0,NaN
1960,17.02.2010,"173,80000","171,35000","174,50000","171,05000",72613205,0,0.0,NaN
1961,16.02.2010,"165,49000","172,18000","172,30000","165,25000",81746193,0,0.0,NaN
1962,15.02.2010,"163,52000","164,45000","165,16000","162,50000",40268788,0,0.0,NaN
1963,12.02.2010,"170,50000","163,04000","172,20000","162,01000",112397496,"[российский, газпром, сообщил, планах, увеличе...",0.0,NaN
1964,11.02.2010,"173,52000","168,40000","174,18000","167,32000",77463820,0,0.0,NaN
1965,10.02.2010,"176,10000","171,48000","176,53000","169,90000",82553131,0,0.0,NaN
1966,09.02.2010,"176,99000","174,91000","178,44000","173,28000",85529413,0,0.0,NaN
1967,08.02.2010,"181,90000","175,31000","184,35000","174,65000",90316502,0,0.0,NaN
1968,05.02.2010,"183,04000","182,31000","185,14000","178,42000",103353338,0,0.0,NaN
1969,04.02.2010,"192,60000","186,59000","193,39000","185,78000",72663606,0,0.0,NaN
1970,03.02.2010,"194,00000","192,70000","195,27000","192,30000",74730185,"[российский, газовый, монополист, компания, га...",0.0,NaN
1971,02.02.2010,"191,30000","192,21000","192,68000","190,02000",66952516,"[переговоры, оао, газпром, оператором, проекта...",0.0,NaN
1972,01.02.2010,"184,74000","189,85000","190,40000","183,50000",76298175,0,0.0,NaN
1973,29.01.2010,"180,51000","186,44000","186,47000","179,90000",58506711,"[газпром, исключает, 2010, г, выпуска, облигац...",0.0,NaN
1974,28.01.2010,"183,75000","182,30000","185,98000","181,67000",62561241,0,0.0,NaN
1975,27.01.2010,"180,63000","182,01000","183,95000","178,00000",66522143,"[консорциум, главе, российским, оао, газпром, ...",0.0,NaN
1976,26.01.2010,"180,00000","181,29000","182,50000","177,10000",59199220,0,0.0,NaN
1977,25.01.2010,"179,00000","182,85000","184,39000","178,94000",48727361,0,0.0,NaN
1978,22.01.2010,"181,50000","181,50000","183,00000","178,51000",62923848,0,0.0,NaN
1979,21.01.2010,"187,17000","182,76000","187,19000","182,30000",62823179,0,0.0,NaN
1980,20.01.2010,"189,09000","185,98000","189,90000","185,82000",46894531,0,0.0,NaN
1981,19.01.2010,"190,10000","189,76000","190,47000","187,36000",48626727,0,0.0,NaN
1982,18.01.2010,"186,97000","190,40000","190,50000","186,60000",36525951,"[газпром, готов, забирать, весь, объем, азерба...",0.0,NaN
1983,15.01.2010,"190,00000","187,86000","192,10000","187,25000",55571965,0,0.0,NaN
1984,14.01.2010,"191,20000","190,83000","191,46000","188,88000",41207109,0,0.0,NaN
1985,13.01.2010,"189,72000","189,30000","191,86000","188,30000",52416087,0,0.0,NaN
1986,12.01.2010,"194,00000","191,80000","195,80000","190,55000",43482579,0,0.0,NaN
1987,11.01.2010,"192,50000","194,50000","196,90000","191,00000",59815603,0,0.0,NaN

## Часть 2. Классификационная
Вам предстоит решить следующую задачу: по текстам новостей за день определить, вырастет или понизится цена закрытия.
Для этого:
* бинаризуйте признак "цена закрытия":  новый признак ClosingPrice_bin равен 1, если по сравнению со вчера цена не упала, и 0 – в обратном случаея;
* составьте бучающее и тестовое множество: данные до начала 2016 года используются для обучения, данные с 2016 года и позже – для тестирования.

Таким образом, в каждлый момент времени мы знаем: 
* ClosingPrice_bin – бинарый целевой признак
* слова из статей, опубликованных в этот день – объясняющие признаки

В этой части задания вам нужно сделать baseline алгоритм и попытаться его улучшить в следующей части. 

Используйте любой известный вам алгоритм классификации текстов для того, Используйте $tf-idf$ преобразование, сингулярное разложение, нормировку признакого пространства и любые другие техники обработки данных, которые вы считаете нужным. Используйте accuracy и F-measure для оценки качества классификации. Покажите, как  $tf-idf$ преобразование или сингулярное разложение или любая другая использованная вами техника влияет на качество классификации.
Если у выбранного вами алгоритма есть гиперпараметры (например, $\alpha$ в преобразовании Лапласа для метода наивного Байеса), покажите, как изменение гиперпараметра влияет на качество классификации.

## Часть 3. Творческая
Придумайте и попытайтесь сделать еще что-нибудь, чтобы улучшить качество классификации. 
Направления развития:
* Морфологический признаки: 
    * использовать в качестве признаков только существительные или только именованные сущности;
* Модели скрытых тем:
    * использовать в качестве признаков скрытые темы;
    * использовать в качестве признаков динамические скрытые темы 
    пример тут: (https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/dtm_example.ipynb)
* Синтаксические признаки:
    * использовать SOV-тройки в качестве признаков
    * кластеризовать SOV-тройки по эмбеддингам глаголов (обученные word2vec модели можно скачать отсюда: (http://rusvectores.org/ru/models/) и использовать только центроиды кластеров в качестве признаков
* что-нибудь еще

## Сдача домашнего задания

Дедлайн сдачи домашнего задания:  23:59 22.03.2018. Каждый день просрочки дедлайна штрафуется -1 баллом.

Результаты домашнего задания должны быть оформлены в виде отчета в jupyter notebook.
Нормальный отчёт должен включать в себя:
* Краткую постановку задачи и формулировку задания
* Описание минимума необходимой теории и/или описание используемых инструментов 
* Подробный пошаговый рассказ о проделанной работе
* **Аккуратно** оформленные результаты
* Подробные и внятные ответы на все заданные вопросы 
* Внятные выводы – не стоит относится к домашнему заданию как к последовательности сугубо технических шагов, а стоит относится скорее как к небольшому практическому исследованию, у которого есть своя цель и свое назначение.

Задание выполняется в группе до трех человек. Не забудьте перечислить фамилии всех, кто работал над домашнем задании, в jupyter notebook.  

В случае использования какого-либо строннего источника информации обязательно дайте на него ссылку (поскольку другие тоже могут на него наткнуться). Плагиат наказывается нулём баллов за задание и предвзятым отношением в будущем.


При возникновении проблем с выполнением задания обращайтесь с вопросами к преподавателю по семинарским занятиям в вашей группе или у учебным ассистентам.

Учебный ассистент по ДЗ 2: Таисия Глушкова (email: glushkovato@gmail.com, telegram: @glushkovato).


Небрежное оформление отчета существенно отразится на итоговой оценке. Весь код из отчёта должен быть воспроизводимым, если для этого нужны какие-то дополнительные действия, установленные модули и т.п. — всё это должно быть прописано в отчете в явном виде.

Сдача отчетов осуществляется через систему AnyTask.